@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
*:link,
*:visited,
*:hover,
*:active,
*:focus,
* {
  -o-transition: background-color 0.2s linear, border-color 0.1s linear;
  -webkit-transition: background-color 0.2s linear, border-color 0.1s linear;
  -moz-transition: background-color 0.2s linear, border-color 0.1s linear;
  transition: background-color 0.2s linear, border-color 0.1s linear;
}
.bg-base-gray {
  background-color: #f9f9f9 !important;
}
.clr-gray {
  color: #dcdcdc !important;
}
.clr-dk-gray {
  color: #767676 !important;
}
/* ------- 標頭設計(字級,字距,顏色) ------- */
/* ------- box-madel ------- */
[class^="fa-"],
[class*=" fa-"] {
  font-family: FontAwesome !important;
}
[data-href] {
  cursor: pointer;
}
html {
  font-size: 12pt;
}
body {
  font-family: arial, 'Noto Sans', '微軟正黑體', sans-serif;
  font-size: 1rem;
}
p {
  text-align: justify;
}
blockquote,
blockquote:hover {
  border-color: transparent;
}
img {
  margin: 0 auto;
}
a {
  position: relative;
}
a:focus,
select:focus {
  -webkit-box-shadow: 3px 3px 20px 0px rgba(100, 100, 100, 0.6);
  -ms-box-shadow: 3px 3px 20px 0px rgba(100, 100, 100, 0.6);
  box-shadow: 3px 3px 20px 0px rgba(100, 100, 100, 0.6);
}
br {
  font-family: '微軟正黑體';
}
.map_theme {
  position: relative;
  z-index: 1;
}
.map_theme .weather_data {
  margin: 15px 0;
}
.map_theme .shadow {
  fill: #f1f1f1!important;
  -moz-transform: translateX(2px) translateY(2px);
  -webkit-transform: translateX(2px) translateY(2px);
  -o-transform: translateX(2px) translateY(2px);
  -ms-transform: translateX(2px) translateY(2px);
  transform: translateX(2px) translateY(2px);
}
.map_theme .link_to_page {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
.map_theme .link_to_page path {
  fill: #0f838c !important;
  opacity: 0.4;
  pointer-events: auto;
}
.map_theme .link_to_page path:hover {
  fill: #42a1ae !important;
  opacity: 0.7;
}
.map_theme g,
.map_theme path {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transform: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.map_theme .weather_data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.map_theme .weather_data .icon_zone {
  display: block;
  position: absolute;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transform: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 10px;
  background: -moz-linear-gradient(top, #ffffff 30%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, #ffffff 30%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #ffffff 30%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  color: #555;
}
.map_theme .weather_data .icon_zone:hover {
  background: #fcffbd;
  z-index: 9;
}
.map_theme .weather_data .icon_zone img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}
.map_theme .weather_data .icon_zone span {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-top: 5px;
  font-weight: bold;
  min-width: 75px;
}
.map_theme .weather_data .icon_zone span + .rain {
  margin-top: 0;
  position: relative;
  font-weight: bold;
  letter-spacing: 1px;
}
.map_theme .weather_data .icon_zone span + .rain:before {
  color: #1a67b1;
  content: "\e948";
  font-family: icomoon;
}
.map_theme .weather_data .icon_zone .city {
  text-align: center;
  margin: 0;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #555;
}
.map_theme .weather_data .icon_zone[name='C10017'] {
  left: 88%;
  top: 10%;
}
.map_theme .weather_data .icon_zone[name='C65'] {
  left: 76%;
  top: 4%;
}
.map_theme .weather_data .icon_zone[name='C63'] {
  left: 72%;
  top: 17%;
}
.map_theme .weather_data .icon_zone[name='C68'] {
  left: 64%;
  top: 5%;
}
.map_theme .weather_data .icon_zone[name='C10004'] {
  left: 61%;
  top: 28%;
}
.map_theme .weather_data .icon_zone[name='C10018'] {
  left: 51%;
  top: 8%;
}
.map_theme .weather_data .icon_zone[name='C10005'] {
  left: 48%;
  top: 22%;
}
.map_theme .weather_data .icon_zone[name='C66'] {
  left: 34%;
  top: 23%;
}
.map_theme .weather_data .icon_zone[name='C10008'] {
  left: 55%;
  top: 46%;
}
.map_theme .weather_data .icon_zone[name='C10007'] {
  left: 30%;
  top: 35%;
}
.map_theme .weather_data .icon_zone[name='C10009'] {
  left: 24%;
  top: 48%;
}
.map_theme .weather_data .icon_zone[name='C10010'] {
  left: 22%;
  top: 60%;
}
.map_theme .weather_data .icon_zone[name='C10020'] {
  left: 49%;
  top: 57%;
}
.map_theme .weather_data .icon_zone[name='C67'] {
  left: 28%;
  top: 71%;
}
.map_theme .weather_data .icon_zone[name='C64'] {
  left: 30%;
  top: 84%;
}
.map_theme .weather_data .icon_zone[name='C10013'] {
  left: 45%;
  top: 91%;
}
.map_theme .weather_data .icon_zone[name='C10015'] {
  left: 78%;
  top: 47%;
}
.map_theme .weather_data .icon_zone[name='C10014'] {
  left: 61%;
  top: 80%;
}
.map_theme .weather_data .icon_zone[name='C10002'] {
  left: 85%;
  top: 28%;
}
.map_theme .weather_data .icon_zone[name='C10016'] {
  left: 6%;
  top: 59%;
}
.map_theme .weather_data .icon_zone[name='C09020'] {
  left: 6%;
  top: 40%;
}
.map_theme .weather_data .icon_zone[name='C09007'] {
  left: 18%;
  top: 20%;
}
.map_theme .observe_weather_data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.map_theme .observe_weather_data .icon_zone {
  display: block;
  position: absolute;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transform: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  background: -moz-linear-gradient(top, #ffffff 30%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, #ffffff 30%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #ffffff 30%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  color: #555;
}
.map_theme .observe_weather_data .icon_zone:hover {
  background: #fcffbd;
}
.map_theme .observe_weather_data .icon_zone img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}
.map_theme .observe_weather_data .icon_zone span.temperature i {
  color: #555;
  font-size: 1rem;
}
.map_theme .observe_weather_data .icon_zone span {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-top: 5px;
  font-weight: bold;
  min-width: 75px;
}
.map_theme .observe_weather_data .icon_zone span + .rain {
  margin-top: 0;
  position: relative;
  font-weight: bold;
  letter-spacing: 1px;
}
.map_theme .observe_weather_data .icon_zone span + .rain:before {
  color: #1a67b1;
  content: "\e948";
  font-family: icomoon;
}
.map_theme .observe_weather_data .icon_zone h6 {
  text-align: center;
  margin: 0;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #555;
}
.map_theme .observe_weather_data .icon_zone[name='C46692'] {
  left: 72%;
  top: 13%;
}
.map_theme .observe_weather_data .icon_zone[name='C46757'] {
  left: 61%;
  top: 28%;
}
.map_theme .observe_weather_data .icon_zone[name='C46749'] {
  left: 35%;
  top: 28%;
}
.map_theme .observe_weather_data .icon_zone[name='C46748'] {
  left: 22%;
  top: 55%;
}
.map_theme .observe_weather_data .icon_zone[name='C46741'] {
  left: 28%;
  top: 68%;
}
.map_theme .observe_weather_data .icon_zone[name='C46744'] {
  left: 30%;
  top: 84%;
}
.map_theme .observe_weather_data .icon_zone[name='C46759'] {
  left: 45%;
  top: 91%;
}
.map_theme .observe_weather_data .icon_zone[name='C46699'] {
  left: 78%;
  top: 47%;
}
.map_theme .observe_weather_data .icon_zone[name='C46766'] {
  left: 61%;
  top: 80%;
}
.map_theme .observe_weather_data .icon_zone[name='C46708'] {
  left: 85%;
  top: 28%;
}
.map_theme .observe_weather_data .icon_zone[name='C46735'] {
  left: 6%;
  top: 59%;
}
.map_theme .observe_weather_data .icon_zone[name='C46711'] {
  left: 6%;
  top: 40%;
}
.map_theme .observe_weather_data .icon_zone[name='C46799'] {
  left: 18%;
  top: 20%;
}
.map_theme .map-tag {
  position: absolute;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 3px 5px;
  font-size: 0.7rem;
  z-index: 9;
  display: none;
}
.map_theme .map-tag.active {
  display: block;
}
.explace {
  position: absolute;
  bottom: 10%;
  width: 200px;
  z-index: 1;
}
.explace li {
  margin: 2rem 0;
}
.explace a {
  background: #0f838c;
  color: #fff;
  -ms-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  padding: .625rem;
}
.explace a:hover {
  opacity: .7;
}
.full_map {
  width: 100%!important;
  margin: 0 auto;
}
.lg_map {
  width: 850px!important;
  margin: 0 auto;
}
.lg_map .weather_data .icon_zone img {
  position: static!important;
  width: 50px!important;
  height: 50px!important;
  -moz-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
}
.lg_map .weather_data .icon_zone span {
  margin-top: 0 !important;
}
span.temperature {
  font-weight: bold;
  letter-spacing: 1px;
}
span.temperature i {
  font-style: normal;
}
span.temperature i:first-child {
  color: #1a67b1;
}
span.temperature i:last-child {
  color: #ea1904;
}
#default_map {
  width: 100%;
  position: relative;
}
#default_map .weather_data {
  margin: 0;
  pointer-events: none;
  z-index: 20;
}
#default_map .weather_data .icon_zone {
  background: #fff;
  opacity: 0;
}
#default_map .weather_data .icon_zone.on-hover {
  opacity: 1;
}
#default_map .weather_data .icon_zone h6 {
  color: #1a67b1;
  margin: 0;
}
#default_map svg {
  width: 100%;
  height: 600px;
}
#default_map svg a {
  cursor: pointer;
}
#default_map svg a.is-active path {
  fill: rgba(255, 255, 255, 0.4);
}
#default_map svg path {
  fill: transparent;
  stroke: #FFFFFF;
  stroke-width: 1px;
  stroke-miterlimit: 10;
}
#default_map svg path:hover {
  fill: rgba(255, 255, 255, 0.4);
}
#default_map #position {
  fill: #0959a8 !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transform: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#default_map #position .icon-in {
  animation-name: bounce;
  transform-origin: center bottom;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
#default_map #position .icon-in path {
  fill: #010840 !important;
  stroke: none!important;
}
@keyframes bounce {
  20%,
  53%,
  80%,
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
#theme-1 {
  width: 600px;
  margin: 0 auto;
}
#theme-1 svg {
  width: 100%;
}
#theme-1 svg > g path:hover {
  fill: #1596ed;
}
#theme-1 svg > g.active path {
  fill: #1596ed;
}
#theme-1 svg path {
  fill: #a4dbd5;
  stroke: #FFFFFF;
  stroke-width: 1.3px;
  stroke-miterlimit: 10;
}
#theme-1 svg .test {
  width: 150px;
  height: 150px;
  fill: #000;
  display: block;
  position: relative;
}
#theme-2 {
  width: 600px;
  margin: 0 auto;
}
#theme-2 svg {
  width: 100%;
}
#theme-2 svg > g path:hover {
  fill: #1a67b1;
}
#theme-2 svg > g.active path {
  fill: #1a67b1;
}
#theme-2 svg .st0 {
  fill: #AAD6E3;
  stroke: #FFFFFF;
  stroke-width: 1px;
}
#theme-2 svg .st1 {
  fill: #B1D5E4;
  stroke: #FFFFFF;
  stroke-width: 1px;
}
#theme-2 svg .st2 {
  fill: #90C4D7;
  stroke: #FFFFFF;
  stroke-width: 1px;
}
#theme-2 svg .st3 {
  fill: #AAD6E3;
  stroke: #FFFFFF;
  stroke-width: 1px;
}
#theme-2 svg .st4 {
  fill: #6BADD2;
  stroke: #FFFFFF;
  stroke-width: 1px;
}
#theme-3 {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #187ac8;
}
#theme-3 svg path {
  fill: #BCE2E8;
  stroke: #FFFFFF;
  stroke-width: 3px;
  stroke-miterlimit: 10;
}
#theme-3 svg > g.active path {
  fill: #f4f4f4;
}
#theme-3 svg .taiwan-map {
  fill: #187ac8;
  stroke: #FFFFFF;
  stroke-width: 1.2px;
  stroke-miterlimit: 10;
}
#theme-3 .sea-surface {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#theme-3 .sea-surface a {
  padding: 4px 25px;
  position: absolute;
  z-index: 1;
  -ms-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -webkit-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
  overflow: hidden;
}
#theme-3 .sea-surface a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  -ms-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -webkit-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
  z-index: -1;
}
#theme-3 .sea-surface a:hover:after {
  background: -moz-linear-gradient(right, #ffffff 0%, rgba(255, 255, 255, 0.5) 100%);
  background: -webkit-linear-gradient(right, #ffffff 0%, rgba(255, 255, 255, 0.5) 100%);
  background: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  -ms-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -webkit-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
}
#theme-3 .sea-surface a span {
  color: #555;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.8rem;
}
#theme-3 .sea-surface a[name="fisherymap01"] {
  top: 88%;
  left: 2%;
}
#theme-3 .sea-surface a[name="fisherymap02"] {
  top: 89%;
  left: 69%;
}
#theme-3 .sea-surface a[name="fisherymap03"] {
  top: 28%;
  left: 0;
}
#theme-3 .sea-surface a[name="fisherymap04"] {
  top: 13%;
  left: 0;
}
#theme-3 .sea-surface a[name="fisherymap05"] {
  top: 44%;
  left: 0;
}
#theme-3 .sea-surface a[name="fisherymap06"] {
  top: 55%;
  left: 52%;
}
#theme-3 .sea-surface a[name="fisherymap07"] {
  top: 70%;
  left: 46%;
}
#theme-3 .sea-surface a[name="fisherymap08"] {
  top: 76%;
  left: 70%;
}
#theme-3 .sea-surface a[name="fisherymap09"] {
  top: 41%;
  left: 70%;
}
#theme-3 .sea-surface a[name="fisherymap10"] {
  top: 66%;
  left: 0;
}
#theme-3 .sea-surface a[name="fisherymap11"] {
  top: 76%;
  left: 3%;
}
#theme-3 .sea-surface a[name="fisherymap12"] {
  top: 79%;
  left: 32%;
}
#theme-3 .sea-surface a[name="fisherymap13"] {
  top: 88%;
  left: 18%;
}
#theme-3 .sea-surface a[name="fisherymap14"] {
  top: 4%;
  left: 36%;
}
#theme-3 .sea-surface a[name="fisherymap15"] {
  top: 1%;
  left: 73%;
}
#theme-3 .sea-surface a[name="fisherymap16"] {
  top: 11%;
  left: 65%;
}
#theme-3 .sea-surface a[name="fisherymap17"] {
  top: 42%;
  left: 23%;
}
#theme-3 .sea-surface a[name="fisherymap18"] {
  top: 56%;
  left: 22%;
}
#theme-3 .sea-surface a[name="fisherymap19"] {
  top: 23%;
  left: 70%;
}
#theme-4 {
  width: 600px;
  margin: 0 auto;
}
#theme-4:hover svg .st0 {
  opacity: 0.6;
}
#theme-4:hover svg .st1 {
  stroke: #187ac8;
}
#theme-4 svg .st0 {
  fill: #AAD6E3;
  stroke: #FFFFFF;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
#theme-4 svg .st1 {
  fill: none;
  stroke: #eee;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
#theme-4 .blueroute {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
#theme-4 .blueroute > li {
  position: absolute;
}
#theme-4 .blueroute > li.yellow-dot a::after,
#theme-4 .blueroute > li.yellow-dot a::before {
  background: rgba(121, 81, 0, 0.3);
}
#theme-4 .blueroute > li.yellow-dot a span {
  color: #795100;
}
#theme-4 .blueroute > li.yellow-dot a i {
  background-color: #795100;
}
#theme-4 .blueroute > li.orange-dot a::after,
#theme-4 .blueroute > li.orange-dot a::before {
  background: rgba(241, 94, 58, 0.3);
}
#theme-4 .blueroute > li.orange-dot a span {
  color: #d63801;
}
#theme-4 .blueroute > li.orange-dot a i {
  background-color: #d63801;
}
#theme-4 .blueroute > li.is_show > a:after {
  width: 60px;
  height: 60px;
  transition-delay: 0.1s;
  opacity: 1;
}
#theme-4 .blueroute > li.is_show > a:before {
  width: 70px;
  height: 70px;
  opacity: 1;
}
#theme-4 .blueroute > li.is_show > a span {
  color: #222;
}
#theme-4 .blueroute > li.is_show > a i {
  -ms-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
#theme-4 .blueroute > li.is_show > ol {
  pointer-events: auto;
  opacity: 1;
}
#theme-4 .blueroute > li > ol {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 130px;
  background: rgba(255, 255, 255, 0.85);
  z-index: 10;
  -ms-border-radius: 0 2px 2px 2px;
  -moz-border-radius: 0 2px 2px 2px;
  -webkit-border-radius: 0 2px 2px 2px;
  border-radius: 0 2px 2px 2px;
  left: 0;
  border: 1px solid #4774b8;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transform: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  opacity: 0;
}
#theme-4 .blueroute > li > ol > li {
  text-align: center;
}
#theme-4 .blueroute > li > ol > li > a {
  padding: 4px 0;
  display: block;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #4774b8;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transform: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#theme-4 .blueroute > li > ol > li > a:hover {
  opacity: 0.8;
  background-color: #4774b8;
  color: #fff;
}
#theme-4 .blueroute > li > ol > li > a.c-yellow {
  color: #795100;
}
#theme-4 .blueroute > li > ol > li > a.c-yellow:hover {
  background-color: #795100;
  color: #fff;
}
#theme-4 .blueroute > li > ol > li > a.c-orange {
  color: #d63801;
}
#theme-4 .blueroute > li > ol > li > a.c-orange:hover {
  background-color: #d63801;
  color: #fff;
}
#theme-4 .blueroute > li > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-flex-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}
#theme-4 .blueroute > li > a::after,
#theme-4 .blueroute > li > a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 10px;
  height: 10px;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transform: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(60, 143, 209, 0.3);
  z-index: -1;
  opacity: 0;
}
#theme-4 .blueroute > li > a i {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transform: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  padding: 4px;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #4774b8;
  color: #e4f3fe;
  position: relative;
  display: block;
}
#theme-4 .blueroute > li > a i:before {
  transform-origin: center center;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.3rem;
}
#theme-4 .blueroute > li > a span {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #555;
}
#theme-4 .blueroute > li#pPengjiayu_S {
  top: 8%;
  left: 77%;
}
#theme-4 .blueroute > li#pShiyuandao_S {
  top: 25%;
  left: 84%;
}
#theme-4 .blueroute > li#pKeelung_S {
  top: 12.5%;
  left: 66%;
}
#theme-4 .blueroute > li#pLongdong_S {
  top: 14%;
  left: 72%;
}
#theme-4 .blueroute > li#pGuishandao_S {
  top: 21%;
  left: 75%;
}
#theme-4 .blueroute > li#pWushi_S {
  top: 21%;
  left: 68%;
}
#theme-4 .blueroute > li#pSuao_S {
  top: 28%;
  left: 71%;
}
#theme-4 .blueroute > li#pHualien_S {
  top: 37%;
  left: 66%;
}
#theme-4 .blueroute > li#pLudao_S {
  top: 64.5%;
  left: 63%;
}
#theme-4 .blueroute > li#pLanyu_S {
  top: 75%;
  left: 61%;
}
#theme-4 .blueroute > li#pTaitung_S {
  top: 62.5%;
  left: 53%;
}
#theme-4 .blueroute > li#pHoubihu_S {
  top: 80%;
  left: 43%;
}
#theme-4 .blueroute > li#pDonggang_S {
  top: 69.5%;
  left: 38%;
}
#theme-4 .blueroute > li#pLiuqiu_S {
  top: 74%;
  left: 30%;
}
#theme-4 .blueroute > li#pKaohsiung_S {
  top: 65.5%;
  left: 31%;
}
#theme-4 .blueroute > li#pAnping_S {
  top: 58%;
  left: 29%;
}
#theme-4 .blueroute > li#pDongjidao_S {
  top: 56%;
  left: 17%;
}
#theme-4 .blueroute > li#pBudai_S {
  top: 51%;
  left: 29%;
}
#theme-4 .blueroute > li#pMagong_S {
  top: 47%;
  left: 12%;
}
#theme-4 .blueroute > li#pTaichung_S {
  top: 31%;
  left: 38%;
}
#theme-4 .blueroute > li#pKinmen_S {
  top: 31.5%;
  left: 12%;
}
#theme-4 .blueroute > li#pShijing_S {
  top: 24%;
  left: 15%;
}
#theme-4 .blueroute > li#pWutong_S {
  top: 26%;
  left: 2%;
}
#theme-4 .blueroute > li#pPingtan_S {
  top: 8.5%;
  left: 9%;
}
#theme-4 .blueroute > li#pTaipei_S {
  top: 15.5%;
  left: 58%;
}
#theme-4 .blueroute > li#pTaizhou_S {
  top: 1%;
  left: 52%;
}
#theme-4 .blueroute > li#pMatsu_S {
  top: 1%;
  left: 38%;
}
#theme-4 .blueroute > li#pMawei_S {
  top: 4%;
  left: 30%;
}
@media (max-width: 1200px) {
  #theme-4 .blueroute > li a i {
    width: 24px;
    height: 24px;
  }
}
#theme-5 {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #187ac8;
}
#theme-5 svg {
  width: 100%;
}
#theme-5 svg .active path {
  fill: #f2f2f2;
}
#theme-5 svg path {
  fill: #BCE2E8;
  stroke: #FFFFFF;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
#theme-5 svg #land path {
  fill: #187ac8;
}
#theme-5 .ocean-face {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  list-style: none;
}
#theme-5 .ocean-face li {
  position: absolute;
}
#theme-5 .ocean-face li[itemprop="fsea-01"] {
  top: 72%;
  left: 6%;
}
#theme-5 .ocean-face li[itemprop="fsea-02"] {
  top: 68%;
  left: 28%;
}
#theme-5 .ocean-face li[itemprop="fsea-03"] {
  top: 75%;
  left: 25%;
}
#theme-5 .ocean-face li[itemprop="fsea-04"] {
  top: 82%;
  left: 6%;
}
#theme-5 .ocean-face li[itemprop="fsea-05"] {
  top: 89%;
  left: 6%;
}
#theme-5 .ocean-face li[itemprop="fsea-06"] {
  top: 75%;
  left: 51%;
}
#theme-5 .ocean-face li[itemprop="fsea-07"] {
  top: 68%;
  left: 62%;
}
#theme-5 .ocean-face li[itemprop="fsea-08"] {
  top: 60%;
  left: 28%;
}
#theme-5 .ocean-face li[itemprop="fsea-09"] {
  top: 60%;
  left: 62%;
}
#theme-5 .ocean-face li[itemprop="fsea-10"] {
  top: 54%;
  left: 39%;
}
#theme-5 .ocean-face li[itemprop="fsea-11"] {
  top: 45%;
  left: 47%;
}
#theme-5 .ocean-face li[itemprop="fsea-12"] {
  top: 45%;
  left: 73%;
}
#theme-5 .ocean-face li[itemprop="fsea-13"] {
  top: 29%;
  left: 47%;
}
#theme-5 .ocean-face li[itemprop="fsea-14"] {
  top: 29%;
  left: 73%;
}
#theme-5 .ocean-face li[itemprop="fsea-15"] {
  top: 14%;
  left: 41%;
}
#theme-5 .ocean-face li a {
  display: block;
  position: relative;
  z-index: 0;
  padding: 5px 10px;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #555;
}
#theme-5 .ocean-face li a:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  -ms-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -webkit-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
}
#theme-6 #land .taiwan {
  fill: #D2EFFA;
}
#theme-6 #land > g path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
#theme-6 #land .dots {
  fill: #DCDDDD!important;
  z-index: 999;
}
#theme-6 #land .line {
  z-index: 999;
  fill: none;
  stroke: #B1B1B2!important;
  stroke-miterlimit: 10;
}
#theme-6 #land #tribes-01 path {
  fill: #F99400;
}
#theme-6 #land #tribes-02 path {
  fill: #C48A66;
}
#theme-6 #land #tribes-03 path {
  fill: #C0A8D2;
}
#theme-6 #land #tribes-04 path {
  fill: #F2B41E;
}
#theme-6 #land #tribes-05 path {
  fill: #996EA3;
}
#theme-6 #land #tribes-06 path {
  fill: #415C9B;
}
#theme-6 #land #tribes-07 path {
  fill: #d28426;
}
#theme-6 #land #tribes-08 path {
  fill: #D28CB0;
}
#theme-6 #land #tribes-09 path {
  fill: #F07081;
}
#theme-6 #land #tribes-10 path {
  fill: #8CBF48;
}
#theme-6 #land #tribes-11 path {
  fill: #bc9532;
}
#theme-6 #land #tribes-12 path {
  fill: #E85A2E;
}
#theme-6 #land #tribes-13 path {
  fill: #9fd6d7;
}
#theme-6 #land #tribes-14 path {
  fill: #CBD932;
}
#theme-6 #land #tribes-15 path {
  fill: #58d6f4;
}
#theme-6 #land #tribes-16 path {
  fill: #f73131;
}
#theme-6 .tribes-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
#theme-6 .tribes-list li {
  position: absolute;
}
#theme-6 .tribes-list li a {
  padding: 8px 20px;
  color: #fff;
  letter-spacing: 3px;
  -ms-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  font-size: 1rem;
}
#theme-6 .tribes-list li[itemprop="tribes-01"] {
  top: 17%;
  left: 77%;
}
#theme-6 .tribes-list li[itemprop="tribes-01"] a {
  background-color: #F99400;
}
#theme-6 .tribes-list li[itemprop="tribes-02"] {
  top: 71%;
  left: 61%;
}
#theme-6 .tribes-list li[itemprop="tribes-02"] a {
  background-color: #C48A66;
}
#theme-6 .tribes-list li[itemprop="tribes-03"] {
  top: 29%;
  left: 76%;
}
#theme-6 .tribes-list li[itemprop="tribes-03"] a {
  background-color: #C0A8D2;
}
#theme-6 .tribes-list li[itemprop="tribes-04"] {
  top: 66%;
  left: 3%;
}
#theme-6 .tribes-list li[itemprop="tribes-04"] a {
  background-color: #F2B41E;
}
#theme-6 .tribes-list li[itemprop="tribes-05"] {
  top: 15%;
  left: 25%;
}
#theme-6 .tribes-list li[itemprop="tribes-05"] a {
  background-color: #996EA3;
}
#theme-6 .tribes-list li[itemprop="tribes-06"] {
  top: 34%;
  left: 10%;
}
#theme-6 .tribes-list li[itemprop="tribes-06"] a {
  background-color: #415C9B;
}
#theme-6 .tribes-list li[itemprop="tribes-07"] {
  top: 43%;
  left: 5%;
}
#theme-6 .tribes-list li[itemprop="tribes-07"] a {
  background-color: #d28426;
}
#theme-6 .tribes-list li[itemprop="tribes-08"] {
  top: 25%;
  left: 13%;
}
#theme-6 .tribes-list li[itemprop="tribes-08"] a {
  background-color: #D28CB0;
}
#theme-6 .tribes-list li[itemprop="tribes-09"] {
  top: 57%;
  left: 73%;
}
#theme-6 .tribes-list li[itemprop="tribes-09"] a {
  background-color: #F07081;
}
#theme-6 .tribes-list li[itemprop="tribes-10"] {
  top: 47%;
  left: 72%;
}
#theme-6 .tribes-list li[itemprop="tribes-10"] a {
  background-color: #8CBF48;
}
#theme-6 .tribes-list li[itemprop="tribes-11"] {
  top: 39%;
  left: 72%;
}
#theme-6 .tribes-list li[itemprop="tribes-11"] a {
  background-color: #bc9532;
}
#theme-6 .tribes-list li[itemprop="tribes-12"] {
  top: 74%;
  left: 5%;
}
#theme-6 .tribes-list li[itemprop="tribes-12"] a {
  background-color: #E85A2E;
}
#theme-6 .tribes-list li[itemprop="tribes-13"] {
  top: 83%;
  left: 18%;
}
#theme-6 .tribes-list li[itemprop="tribes-13"] a {
  background-color: #9fd6d7;
}
#theme-6 .tribes-list li[itemprop="tribes-14"] {
  top: 85%;
  left: 67%;
}
#theme-6 .tribes-list li[itemprop="tribes-14"] a {
  background-color: #CBD932;
}
#theme-6 .tribes-list li[itemprop="tribes-15"] {
  top: 51%;
  left: -7%;
}
#theme-6 .tribes-list li[itemprop="tribes-15"] a {
  background-color: #f73131;
}
#theme-6 .tribes-list li[itemprop="tribes-16"] {
  top: 58%;
  left: 1%;
}
#theme-6 .tribes-list li[itemprop="tribes-16"] a {
  background-color: #58d6f4;
}
#theme-7 #dots {
  position: absolute;
}
#theme-7 .dot {
  fill: #0f82e4;
  stroke: none;
}
#theme-7 g.active path {
  fill: #1a67b1;
}
#theme-7 g.active path.hakka-zone {
  fill: #0959a8;
  stroke: #fff;
}
#theme-7 path {
  fill: #87c0ed;
  stroke: #fff;
}
#theme-7 .hakka-zone {
  fill: #7fd9e4;
  stroke: #fff;
}
#theme-7 ~ .tags {
  display: block;
  margin-top: 50px;
  font-size: 1rem;
  letter-spacing: 1px;
  position: relative;
  padding-left: 40px;
}
#theme-7 ~ .tags:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 10px;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #7fd9e4;
}
#theme-7 ~ .tags-2 {
  display: block;
  font-size: 1rem;
  letter-spacing: 1px;
  position: relative;
  padding-left: 40px;
}
#theme-7 ~ .tags-2:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  width: 13px;
  height: 13px;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #0f82e4;
}
#theme-7 .weather_data .icon_zone[name='C65'] {
  left: 90%;
  top: 1%;
}
#theme-7 .weather_data .icon_zone[name='C68'] {
  left: 53%;
  top: 0;
}
#theme-7 .weather_data .icon_zone[name='C10004'] {
  left: 63%;
  top: 25%;
}
#theme-7 .weather_data .icon_zone[name='C10018'] {
  left: 37%;
  top: 2%;
}
#theme-7 .weather_data .icon_zone[name='C10005'] {
  left: 29%;
  top: 14%;
}
#theme-7 .weather_data .icon_zone[name='C66'] {
  left: 18%;
  top: 26%;
}
#theme-7 .weather_data .icon_zone[name='C10008'] {
  left: 55%;
  top: 46%;
}
#theme-7 .weather_data .icon_zone[name='C10007'] {
  left: 5%;
  top: 35%;
}
#theme-7 .weather_data .icon_zone[name='C10009'] {
  left: 2%;
  top: 49%;
}
#theme-7 .weather_data .icon_zone[name='C67'] {
  left: 0;
  top: 64%;
}
#theme-7 .weather_data .icon_zone[name='C64'] {
  left: 10%;
  top: 78%;
}
#theme-7 .weather_data .icon_zone[name='C10013'] {
  left: 24%;
  top: 91%;
}
#theme-7 .weather_data .icon_zone[name='C10015'] {
  left: 78%;
  top: 47%;
}
#theme-7 .weather_data .icon_zone[name='C10014'] {
  left: 61%;
  top: 80%;
}
#theme-7 .weather_data .icon_zone[name='C10002'] {
  left: 86%;
  top: 20%;
}
.UVI-icon-list {
  display: block;
  z-index: 1;
  padding: 0;
  margin: 0;
}
.UVI-icon-list i {
  font-size: 2.5rem;
  position: relative;
  display: block;
  text-align: center;
}
.UVI-icon-list i > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.9rem;
  font-weight: bold;
  color: #222;
}
.UVI-icon-list i.icon-cwb-UVI {
  font-family: icomoon;
}
.UVI-icon-list i.icon-cwb-UVI.UVI-0to2 {
  color: #a7cd20;
}
.UVI-icon-list i.icon-cwb-UVI.UVI-3to5 {
  color: #FFBA2C;
}
.UVI-icon-list i.icon-cwb-UVI.UVI-6to7 {
  color: #f39800;
}
.UVI-icon-list i.icon-cwb-UVI.UVI-8to10 {
  color: #ea1904;
}
.UVI-icon-list i.icon-cwb-UVI.UVI-11up {
  color: #b34fa2;
}
.UVI-icon-list i.icon-cwb-UVI:before {
  content: "\e918";
}
.UVI-station {
  position: absolute;
  width: 100%;
  height: 100%;
}
.UVI-station.weather_data > span {
  width: auto;
  height: auto;
  background: none;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.UVI-station.weather_data > span:after {
  display: none;
}
.UVI-station.weather_data > span > .UVI-icon {
  position: static;
}
.UVI-station > span {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ea1904;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.UVI-station > span > .UVI-icon {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-flex-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin: 0;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: -moz-linear-gradient(top, #ffffff 30%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, #ffffff 30%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #ffffff 30%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}
.UVI-station > span > .UVI-icon i {
  order: 1;
  font-size: 3rem;
  position: relative;
  display: block;
  text-align: center;
}
.UVI-station > span > .UVI-icon i > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: #222;
  text-shadow: #fff 0px 2px, #fff 2px 0px, #fff -2px 0px, #fff 0px -2px, #fff -1.4px -1.4px, #fff 1.4px 1.4px, #fff 1.4px -1.4px, #fff -1.4px 1.4px;
}
.UVI-station > span > .UVI-icon i.icon-cwb-UVI {
  font-family: icomoon;
}
.UVI-station > span > .UVI-icon i.icon-cwb-UVI.UVI-0to2 {
  color: #a7cd20;
}
.UVI-station > span > .UVI-icon i.icon-cwb-UVI.UVI-3to5 {
  color: #FFBA2C;
}
.UVI-station > span > .UVI-icon i.icon-cwb-UVI.UVI-6to7 {
  color: #f39800;
}
.UVI-station > span > .UVI-icon i.icon-cwb-UVI.UVI-8to10 {
  color: #ea1904;
}
.UVI-station > span > .UVI-icon i.icon-cwb-UVI.UVI-11up {
  color: #b34fa2;
}
.UVI-station > span > .UVI-icon i.icon-cwb-UVI:before {
  content: "\e918";
}
.UVI-station > span > .UVI-icon span {
  order: 2;
  margin: 0;
  display: block;
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.9rem;
  color: #222;
}
.UVI-station > span.is_active:after {
  background-color: rgba(255, 255, 255, 0.5);
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
}
.UVI-station > span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transform: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 3px;
  height: 3px;
  background-color: #fff;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  z-index: 0;
}
.UVI-station > span[itemprop="南投"],
.UVI-station > span[itemprop="塔塔加"],
.UVI-station > span[itemprop="屏東"],
.UVI-station > span[itemprop="彰化"],
.UVI-station > span[itemprop="斗六"],
.UVI-station > span[itemprop="朴子"],
.UVI-station > span[itemprop="板橋"],
.UVI-station > span[itemprop="桃園"],
.UVI-station > span[itemprop="橋頭"],
.UVI-station > span[itemprop="沙鹿"],
.UVI-station > span[itemprop="淡水"],
.UVI-station > span[itemprop="苗栗"],
.UVI-station > span[itemprop="阿里山"] {
  background-color: #0959a8;
}
.UVI-station > span[itemprop="基隆"] {
  top: 10.2%;
  left: 81%;
}
.UVI-station > span[itemprop="基隆"] > a {
  top: -50px;
  left: 10px;
}
.UVI-station > span[itemprop="鞍部"] {
  top: 8%;
  left: 76.5%;
}
.UVI-station > span[itemprop="鞍部"] > a {
  top: -69px;
  left: -10px;
}
.UVI-station > span[itemprop="淡水"] {
  top: 8.5%;
  left: 72.5%;
}
.UVI-station > span[itemprop="淡水"] > a {
  top: -69px;
  left: -42px;
}
.UVI-station > span[itemprop="台北"] {
  top: 11%;
  left: 74%;
}
.UVI-station > span[itemprop="台北"] > a {
  top: -70px;
  left: -98px;
}
.UVI-station > span[itemprop="板橋"] {
  top: 14%;
  left: 74%;
}
.UVI-station > span[itemprop="板橋"] > a {
  top: -14px;
  left: 15px;
}
.UVI-station > span[itemprop="桃園"] {
  top: 14%;
  left: 68%;
}
.UVI-station > span[itemprop="桃園"] > a {
  top: 14px;
  left: -23px;
}
.UVI-station > span[itemprop="新屋"] {
  top: 13%;
  left: 59%;
}
.UVI-station > span[itemprop="新屋"] > a {
  top: -61px;
  left: -54px;
}
.UVI-station > span[itemprop="新竹"] {
  top: 18%;
  left: 59%;
}
.UVI-station > span[itemprop="新竹"] > a {
  top: -43px;
  left: -61px;
}
.UVI-station > span[itemprop="苗栗"] {
  top: 25.5%;
  left: 52%;
}
.UVI-station > span[itemprop="苗栗"] > a {
  top: -68px;
  left: -65px;
}
.UVI-station > span[itemprop="沙鹿"] {
  top: 32%;
  left: 44%;
}
.UVI-station > span[itemprop="沙鹿"] > a {
  top: -62px;
  left: -43px;
}
.UVI-station > span[itemprop="台中"] {
  top: 36%;
  left: 47%;
}
.UVI-station > span[itemprop="台中"] > a {
  top: -34px;
  left: -100px;
}
.UVI-station > span[itemprop="彰化"] {
  top: 39%;
  left: 41%;
}
.UVI-station > span[itemprop="彰化"] > a {
  top: 5px;
  left: -61px;
}
.UVI-station > span[itemprop="南投"] {
  top: 42%;
  left: 50%;
}
.UVI-station > span[itemprop="南投"] > a {
  top: 10px;
  left: 10px;
}
.UVI-station > span[itemprop="日月潭"] {
  top: 40.5%;
  left: 59%;
}
.UVI-station > span[itemprop="日月潭"] > a {
  top: -72px;
  left: -24px;
}
.UVI-station > span[itemprop="阿里山"] {
  top: 54.5%;
  left: 53%;
}
.UVI-station > span[itemprop="阿里山"] > a {
  top: -40px;
  left: -61px;
}
.UVI-station > span[itemprop="玉山"] {
  top: 55%;
  left: 58%;
}
.UVI-station > span[itemprop="玉山"] > a {
  top: -42px;
  left: 11px;
}
.UVI-station > span[itemprop="塔塔加"] {
  top: 56%;
  left: 55%;
}
.UVI-station > span[itemprop="塔塔加"] > a {
  top: 16px;
  left: -23px;
}
.UVI-station > span[itemprop="斗六"] {
  top: 48%;
  left: 43%;
}
.UVI-station > span[itemprop="斗六"] > a {
  top: -61px;
  left: -23px;
}
.UVI-station > span[itemprop="嘉義"] {
  top: 54%;
  left: 41%;
}
.UVI-station > span[itemprop="嘉義"] > a {
  top: -55px;
  left: -60px;
}
.UVI-station > span[itemprop="朴子"] {
  top: 55.5%;
  left: 32%;
}
.UVI-station > span[itemprop="朴子"] > a {
  top: -55px;
  left: -60px;
}
.UVI-station > span[itemprop="新營"] {
  top: 59%;
  left: 36%;
}
.UVI-station > span[itemprop="新營"] > a {
  top: -13px;
  left: -67px;
}
.UVI-station > span[itemprop="台南"] {
  top: 66%;
  left: 33%;
}
.UVI-station > span[itemprop="台南"] > a {
  top: -8px;
  left: -63px;
}
.UVI-station > span[itemprop="橋頭"] {
  top: 72%;
  left: 34%;
}
.UVI-station > span[itemprop="橋頭"] > a {
  top: 3px;
  left: -62px;
}
.UVI-station > span[itemprop="高雄"] {
  top: 77.5%;
  left: 35%;
}
.UVI-station > span[itemprop="高雄"] > a {
  top: 19px;
  left: -53px;
}
.UVI-station > span[itemprop="屏東"] {
  top: 75%;
  left: 42%;
}
.UVI-station > span[itemprop="屏東"] > a {
  top: 13px;
  left: -1px;
}
.UVI-station > span[itemprop="恆春"] {
  top: 92%;
  left: 51%;
}
.UVI-station > span[itemprop="恆春"] > a {
  top: -24px;
  left: 29px;
}
.UVI-station > span[itemprop="台東"] {
  top: 73%;
  left: 62%;
}
.UVI-station > span[itemprop="台東"] > a {
  top: -27px;
  left: 14px;
}
.UVI-station > span[itemprop="成功"] {
  top: 64%;
  left: 70%;
}
.UVI-station > span[itemprop="成功"] > a {
  top: -27px;
  left: 14px;
}
.UVI-station > span[itemprop="蘭嶼"] {
  top: 89%;
  left: 73%;
}
.UVI-station > span[itemprop="蘭嶼"] > a {
  top: -63px;
  left: -57px;
}
.UVI-station > span[itemprop="花蓮"] {
  top: 36%;
  left: 78%;
}
.UVI-station > span[itemprop="花蓮"] > a {
  top: -7px;
  left: 17px;
}
.UVI-station > span[itemprop="宜蘭"] {
  top: 22%;
  left: 81%;
}
.UVI-station > span[itemprop="宜蘭"] > a {
  top: -7px;
  left: 17px;
}
.UVI-station > span[itemprop="馬祖"] {
  top: 13%;
  left: 13%;
}
.UVI-station > span[itemprop="馬祖"] > a {
  top: -73px;
  left: -29px;
}
.UVI-station > span[itemprop="金門"] {
  top: 33%;
  left: 9%;
}
.UVI-station > span[itemprop="金門"] > a {
  top: -79px;
  left: -9px;
}
.UVI-station > span[itemprop="澎湖"] {
  top: 52%;
  left: 9%;
}
.UVI-station > span[itemprop="澎湖"] > a {
  top: -85px;
  left: 1px;
}
.UVI-station > span[itemprop='KLU'] {
  left: 88%;
  top: 10%;
}
.UVI-station > span[itemprop='NTPC'] {
  left: 76%;
  top: 4%;
}
.UVI-station > span[itemprop='TPE'] {
  left: 72%;
  top: 20%;
}
.UVI-station > span[itemprop='TYC'] {
  left: 64%;
  top: 5%;
}
.UVI-station > span[itemprop='HSH'] {
  left: 61%;
  top: 28%;
}
.UVI-station > span[itemprop='HSC'] {
  left: 53%;
  top: 13%;
}
.UVI-station > span[itemprop='MAC'] {
  left: 45%;
  top: 22%;
}
.UVI-station > span[itemprop='TXG'] {
  left: 35%;
  top: 28%;
}
.UVI-station > span[itemprop='NTO'] {
  left: 55%;
  top: 46%;
}
.UVI-station > span[itemprop='CWH'] {
  left: 30%;
  top: 38%;
}
.UVI-station > span[itemprop='YUN'] {
  left: 25%;
  top: 49%;
}
.UVI-station > span[itemprop='CHY'] {
  left: 22%;
  top: 60%;
}
.UVI-station > span[itemprop='CYI'] {
  left: 49%;
  top: 57%;
}
.UVI-station > span[itemprop='TNN'] {
  left: 28%;
  top: 71%;
}
.UVI-station > span[itemprop='KHH'] {
  left: 30%;
  top: 84%;
}
.UVI-station > span[itemprop='PCH'] {
  left: 45%;
  top: 91%;
}
.UVI-station > span[itemprop='HWA'] {
  left: 78%;
  top: 47%;
}
.UVI-station > span[itemprop='TTT'] {
  left: 61%;
  top: 80%;
}
.UVI-station > span[itemprop='ILN'] {
  left: 85%;
  top: 28%;
}
.UVI-station > span[itemprop='PEH'] {
  left: 6%;
  top: 59%;
}
.UVI-station > span[itemprop='KMN'] {
  left: 6%;
  top: 40%;
}
.UVI-station > span[itemprop='LNN'] {
  left: 18%;
  top: 20%;
}
@media (max-width: 992px) {
  .map_theme {
    display: none;
  }
}
.table-striped > .eq_list > tr {
  position: relative;
}
.table-striped > .eq_list > tr.is_quake {
  opacity: 0.8;
}
.table-striped > .eq_list > tr .new {
  margin: .5rem;
  background: #f39800;
  color: #fff;
}
.earthquake-map {
  position: relative;
}
.earthquake-map .eq-wraper {
  width: 450px;
  position: relative;
}
.earthquake-map .eq-wraper.earthquake-fixed {
  position: fixed;
  top: 0;
}
.earthquake-map .eq-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.earthquake-map .eq-wrap > a {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  text-indent: -9999px;
}
.earthquake-map .eq-wrap > a:after,
.earthquake-map .eq-wrap > a:before {
  z-index: -1;
  transform-origin: center center;
  position: absolute;
  background: #FFBA2C;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 25px;
  height: 25px;
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  visibility: hidden;
}
.earthquake-map .eq-wrap > a.dot {
  z-index: 1;
  transform-origin: center center;
  border-radius: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
  background-color: #FFBA2C;
}
.earthquake-map .eq-wrap > a.dot.lg-dot {
  width: 35px;
  height: 35px;
  background: #f39800;
}
.earthquake-map .eq-wrap > a.dot.lg-dot span {
  text-indent: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  color: #fff;
  font-size: 0.8rem;
}
.earthquake-map .eq-wrap > a.dot.lg-dot:after,
.earthquake-map .eq-wrap > a.dot.lg-dot:before {
  width: 45px;
  height: 45px;
  background: #f39800;
}
.earthquake-map .eq-wrap > a.dot.is_quake {
  z-index: 9999;
}
.earthquake-map .eq-wrap > a.far-dot {
  width: auto;
  height: auto;
  border: none;
  top: -4%;
  right: 0;
}
.earthquake-map .eq-wrap > a.far-dot.is_quake {
  z-index: 9999;
}
.earthquake-map .eq-wrap > a.far-dot.is_quake span {
  text-indent: 0;
  display: block;
  background: rgba(255, 255, 255, 0.8);
  padding: .5rem;
}
.earthquake-map .eq-wrap > a.far-dot.is_quake:before,
.earthquake-map .eq-wrap > a.far-dot.is_quake:after {
  content: none;
}
.earthquake-map .eq-wrap > a.is_quake:before {
  animation: wave-animate 2s infinite ease-out;
  visibility: visible;
}
.earthquake-map .eq-wrap > a.is_quake:after {
  opacity: 0;
  visibility: visible;
  animation: wave-animate 2s 1.5s infinite ease-out;
}
@keyframes wave-animate {
  0% {
    -moz-transform: translateX(-50%) translateY(-50%) scale(0);
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
    -o-transform: translateX(-50%) translateY(-50%) scale(0);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0);
    transform: translateX(-50%) translateY(-50%) scale(0);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(-50%) translateY(-50%) scale(1.8);
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.8);
    -o-transform: translateX(-50%) translateY(-50%) scale(1.8);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1.8);
    transform: translateX(-50%) translateY(-50%) scale(1.8);
    opacity: 0;
  }
}
.tribes {
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #ea1904;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.tribes.is_active:before {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  transform: translateX(-50%) translateY(-50%) rotate(-135deg);
}
.tribes:before {
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transform: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border: 2px solid #555;
  width: 15px;
  height: 15px;
  z-index: -1;
}
.tribes .icon_zone {
  position: absolute;
  top: -50px;
  left: -50px;
}
.hakka {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #0959a8;
  border: 3px solid #fff;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: visible;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 1;
}
.hakka.is_active:before {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  transform: translateX(-50%) translateY(-50%) rotate(-135deg);
}
.hakka.cbutton--click,
.hakka:focus {
  outline: none;
  color: #3c8ddc;
}
.hakka.cbutton--click::before {
  -webkit-animation: anim-effect-ivana-1 1s forwards;
  animation: anim-effect-ivana-1 1s forwards;
}
.hakka.cbutton--click::after {
  -webkit-animation: anim-effect-ivana-2 1s forwards;
  animation: anim-effect-ivana-2 1s forwards;
}
.hakka::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  content: '';
  opacity: 0;
  pointer-events: none;
}
.hakka::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  content: '';
  opacity: 0;
  pointer-events: none;
}
.hakka::after,
.hakka::before {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}
@-webkit-keyframes anim-effect-ivana-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes anim-effect-ivana-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}
@-webkit-keyframes anim-effect-ivana-2 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  100%,
  50% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}
@keyframes anim-effect-ivana-2 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  100%,
  50% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}
.hakka .icon_zone {
  position: absolute;
  top: -50px;
  left: -50px;
}
.hakka-into {
  z-index: 0;
  position: absolute;
  display: block;
  overflow: visible;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 9;
}
.hakka-into i {
  font-size: 1.1rem;
  color: #0959a8;
}
.hakka-into::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.hakka-into::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  content: '';
  opacity: 0;
  pointer-events: none;
}
.hakka-into::after {
  box-shadow: inset 0 0 0 3px #0959a8;
}
.hakka-into:hover::after {
  -webkit-animation: anim-effect-marin 0.5s ease-out forwards;
  animation: anim-effect-marin 0.5s ease-out forwards;
}
@-webkit-keyframes anim-effect-marin {
  0% {
    opacity: 1;
  }
  100% {
    box-shadow: inset 0 0 0 3px #0959a8;
    opacity: 0;
    -webkit-transform: scale3d(0.75, 0.75, 1);
    transform: scale3d(0.75, 0.75, 1);
  }
}
@keyframes anim-effect-marin {
  0% {
    opacity: 1;
  }
  100% {
    box-shadow: inset 0 0 0 3px #0959a8;
    opacity: 0;
    -webkit-transform: scale3d(0.75, 0.75, 1);
    transform: scale3d(0.75, 0.75, 1);
  }
}
/*# sourceMappingURL=main-map.css.map */